@import '../../styles.css';

.card-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #1e1e1e;
  color: #d4d4d4;
  margin-top: 50px;
  border: 2px solid #3c3c3c;
  padding: 20px;
  border-radius: 8px;
}

.card-body {
  margin: 5px 0;
  text-align: center;
}

.card-title {
  color: #DCDCAA;
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: bold;
}

.card-text {
  margin: 25px 0;
  color: #9CDCFE;
  font-size: 1rem;
  line-height: 1.75rem;
}

.button-small {
    background-color: #141a2000;
    border: 2px solid #00FF00;
    border-radius: 8px;
    padding: 10px 5px;
    width: 145px;
    font-size: 1rem;
    transition: transform 0.3s ease;

        text-decoration: none;
    color: #9CDCFE;
    font-weight: 500;

}