<div class="align-items-center default-container">
    <div class="col-lg-6">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">Professional Summary</h2>
                <p class="default-p">
                    Discover my experience, the languages I speak, my education, certifications, and the technologies I use to build modern software solutions.
                </p>
                <app-accordion></app-accordion>
            </div>
        </div>
    </div>
</div>