<div class="align-items-center default-container">
  <div class="col-lg-8">
    <div class="text-left">
      <h1 class="home-title">Engineering end-to-end software solutions with .NET, Angular & Azure.</h1>
      <h2 class="home-author">
        <span class="author-name">Suraj Khodade, </span>
        <span id="dynamic-text">{{ dynamicText }}</span>
      </h2>
      <blockquote>
        I’m a Senior Software Engineer with 6+ years of experience in .NET Core, Angular, and Microsoft Azure. 
        I specialize in building scalable microservices, CI/CD pipelines, and cloud-native solutions for global clients.
      </blockquote>
      <div style="display: flex; gap: 1rem; flex-wrap: wrap;">
        <button>
          <a routerLink="/portfolio" class="a-green">
            Explore My Work
          </a>
        </button>
        <button>
          <a href="/assets/Suraj_CV_EU.pdf" target="_blank" class="a-green">
            Download CV
          </a>
        </button>
        <button>
          <a href="/assets/Suraj_CL_EU.pdf" target="_blank" class="a-green">
            Download Cover Letter
          </a>
        </button>
      </div>
    </div>
  </div>
</div>
